## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# Visual Studio Code files
.vscode

# OSX dir files
.DS_Store

## Caffe

# User's build configuration
Makefile.config

# Data and models are either
# 1. reference, and not casually committed
# 2. custom, and live on their own unless they're deliberated contributed
data/*
models/*
*.caffemodel
*.caffemodel.h5
*.solverstate
*.solverstate.h5
*.binaryproto
*leveldb
*lmdb

# build, distribute, and bins (+ python proto bindings)
build
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
python/caffe/proto/
cmake_build
.cmake_build

# Generated documentation
docs/_site
docs/_includes
docs/gathered
_site
doxygen
docs/dev

# LevelDB files
*.sst
*.ldb
LOCK
LOG*
CURRENT
MANIFEST-*

#Visual Studio files
*.user
*.suo
*.sdf
*.opensdf
*.pdb
*.props
*.def
*.lib
matlab/+caffe/+test/
*.exp
packages
*.db
*.opendb
/windows/libcaffe/My Advisor Results - libcaffe/project_read_only.infoadvixe
/windows/libcaffe/My Advisor Results - libcaffe/project_read_only.dflgadvixe
/windows/libcaffe/My Advisor Results - libcaffe/My Advisor Results - libcaffe.advixeproj
/windows/libcaffe/My Advisor Results - libcaffe/e000/e000.advixeexp
/windows/caffe/My Advisor Results - caffe
/windows/general_and_extract_models/My Advisor Results - general_and_extract_models
/windows/face_detection/My Advisor Results - face_detection
/windows/face_beauty/My Advisor Results - face_beauty/e000/e000.advixeexp
/windows/face_beauty/My Advisor Results - face_beauty/My Advisor Results - face_beauty.advixeproj
/windows/face_beauty/My Advisor Results - face_beauty/project_read_only.dflgadvixe
/windows/face_beauty/My Advisor Results - face_beauty/project_read_only.infoadvixe
/windows/face_gender/My Advisor Results - face_gender/project_read_only.infoadvixe
/windows/face_gender/My Advisor Results - face_gender/project_read_only.dflgadvixe
/windows/face_gender/My Advisor Results - face_gender/My Advisor Results - face_gender.advixeproj
/windows/face_gender/My Advisor Results - face_gender/e000/e000.advixeexp
/windows/face_gender/My Advisor Results - face_beauty/project_read_only.infoadvixe
/windows/face_gender/My Advisor Results - face_beauty/My Advisor Results - face_beauty.advixeproj
/windows/face_gender/My Advisor Results - face_beauty/e000/e000.advixeexp
/windows/convert_sensetime_image/My Advisor Results - convert_sensetime_image/project_read_only.infoadvixe
/windows/convert_sensetime_image/My Advisor Results - convert_sensetime_image/project_read_only.dflgadvixe
/Build.rar
